    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Some Might Say</h1>
                        <p class="intro-text">Sunshine follows thunder <br> Go and tell it to the man who cannot shine.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>