<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Google Web Font -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Montaga' rel='stylesheet' type='text/css'> -->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <!-- <a class="extra" href="/">home</a> -->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <span class="email">onion7878@gmail.com</span> <span class="powered">powered by github & dropbox</span>         
            </div>
          </div>
        </div>

    </body>
</html>
